@import "bourbon";

$black: #313740;
$max-body-width: 28em;

%sans-serif {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

%serif {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

html {
  @extend %serif;
  color: $black;
  font-size: 24px;
  text-rendering: optimizeLegibility;
}

body {
  margin: 4em 6% 20em;
}

%body-text-element {
  max-width: $max-body-width;
}

p {
  @extend %body-text-element;
}

ul {
  @extend %body-text-element;
}

blockquote {
  @extend %body-text-element;
}

h1 {
  @extend %serif;
  font-weight: 900;
  line-height: 110%;
  font-size: 5em;
}

h2 {
  @extend %serif;
  font-weight: 900;
  font-size: 1.5em;
  margin: 5em 0 1em;
}

h3 {
  @extend %sans-serif;
  font-weight: 900;
  font-size: 0.65em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin: 4em 0 1em;
}

hr {
  height: 0;
  outline: none;
  border: none;
  border-top: 0.67em solid $black;
}

.external-website {
  border-radius: 4px;
  box-shadow: 3px 3px 11px rgba($black, 0.3);
  overflow: hidden;

  .navbar {
    background: $black;
    padding: 0.4rem;

    .url {
      font-size: 12px;
      background: lighten($black, 10%);
      color: #fff;
      width: 33%;
      min-width: 320px;
      border-radius: 2px;
      font-family: Verdana, Helvetica, sans-serif;
      padding: 0.2rem;
    }
  }

  iframe {
    display: block;
    height: 20rem;
    outline: none;
    border: none;
    width: 100%;
  }
}


// Examples

%example {
  margin: 1rem 0;
  padding: 0.75rem;
}

.basic-media-query-example {
  @extend %example;
  background: pink;

  @media screen and (max-width: 800px) {
    background: mediumSpringGreen;
  }
}
