<h1>About {{(INSERT YOUR NAME HERE}}'s Dog Walking Service</h1>

<p>
  {{(INSERT YOUR NAME HERE}}'s Dog Walking Service has been in business in Baltimore since 2009. We love dogs of all sizes and shapes, and strive to provide a healthy routine for your furry friends. We treat all the dogs we walk just as we treat our own, and every one of our walkers is trained in animal first-aid should anything go wrong. Your pets are safe with us!
</p>
<p>
  Referrals are available upon request. If you have any questions or would like to sign your pet up to be walked, please visit our <%= link_to 'contact page', 'contact.html' %>.
</p>
