<h1>Contact</h1>
<p>
  If you&rsquo;re interested in hiring a dog walker for your pet please fill out the contact form below and we will be in touch shortly!
</p>

<form>
  <div class="text-input-wrapper">
    <label for="fullname">Your Name</label>
    <input type="text" name="fullname">
  </div>

  <div class="text-input-wrapper">
    <label for="email">Email Address</label>
    <input type="text" name="email">
  </div>

  <div class="text-input-wrapper">
    <label for="phone">Phone Number</label>
    <input type="text" name="phone">
  </div>

  <div class="text-input-wrapper">
    <label for="petname">Pet&rsquo;s Name</label>
    <input type="text" name="petname">
  </div>

  <div class="option-wrapper">
    <label for="petsex">Pet&rsquo;s Sex</label>
    <div class="radio-button-wrapper"><input type="radio" name="petsex" value="male" checked> Male</div>
    <div class="radio-button-wrapper"><input type="radio" name="petsex" value="female"> Female</div>
  </div>

  <div class="option-wrapper">
    <label for="petspayed">Is your pet spayed/neutered?</label>
    <div class="radio-button-wrapper"><input type="radio" name="petspayed" value="yes" checked> Yes</div>
    <div class="radio-button-wrapper"><input type="radio" name="petspayed" value="no"> No</div>
  </div>

  <div class="option-wrapper">
    <label for="prebreed">Pet&rsquo;s Breed</label>
    <div class="radio-button-wrapper"><input type="radio" name="prebreed" value="lab" checked> Labrador Retriever</div>
    <div class="radio-button-wrapper"><input type="radio" name="prebreed" value="bulldog"> Bulldog</div>
    <div class="radio-button-wrapper"><input type="radio" name="prebreed" value="german"> German Shepherd</div>
    <div class="radio-button-wrapper"><input type="radio" name="prebreed" value="golden"> Golden Retriever</div>
    <div class="radio-button-wrapper"><input type="radio" name="prebreed" value="beagle"> Beagle</div>
    <div class="radio-button-wrapper"><input type="radio" name="prebreed" value="terrier"> Terrier</div>
    <div class="radio-button-wrapper"><input type="radio" name="prebreed" value="poodle"> Poodle</div>
    <div class="radio-button-wrapper"><input type="radio" name="prebreed" value="boxer"> Boxer</div>
    <div class="radio-button-wrapper"><input type="radio" name="prebreed" value="corgi"> Corgi</div>
    <div class="radio-button-wrapper"><input type="radio" name="prebreed" value="husky"> Husky</div>
    <div class="radio-button-wrapper"><input type="radio" name="prebreed" value="great-dane"> Great Dane</div>
    <div class="radio-button-wrapper"><input type="radio" name="prebreed" value="other"> Other</div>
  </div>

  <div class="text-area-wrapper">
    <label for="notes">Additional Notes</label>
    <textarea name="notes"></textarea>
  </div>

  <input type="submit" value="Submit">

</form>
